# Necessary
API_ID = 29158577
API_HASH = "5a31bb001fafce5f0c8669b0a8138280"
BOT_TOKEN = ""
BOT_USERNAME = "uhdbypassbot"


# Miscellaneous
BIFM_URL = "https://bifm.tacohitbox.com/api/bypass?url"
EMILY_API_URL = "https://api.emilyx.in/api"
UPTOBOX_TOKEN = ""
AUTH_USER = 1925422909
MAX_MESSAGE_LENGTH = 4096



# AppDrive LookAlike Credentials
UNIFIED_EMAIL = "uhdprimeservice@gmail.com"
UNIFIED_PASS = "APP@8055"


# Site Crypts
GDTOT_CRYPT = "WStMb1IyS0h2ZnNvYjkzcFdUQmF5MnFaV0VVaENlMDY0aENvaWNrdHNlbz0%3D"
HUBDRIVE_CRYPT = "V2JZL2FpYUltUWRZN203VjJVWmxSdWJpYjUwd25rM1YwR01ITEcwL1gxdz0%3D"
KATDRIVE_CRYPT = "ZjAreGIzNWE0Y3pjQWZ2ZWJuWGtxU1BwcE9UdDg3UlMxU2o1R1BXbGNNMD0%3D"
KOLOP_CRYPT = "ZjAreGIzNWE0Y3pjQWZ2ZWJuWGtxU1BwcE9UdDg3UlMxU2o1R1BXbGNNMD0%3D"
DRIVEFIRE_CRYPT = "MmNXMWVVTWhoSGdLaVJCTU1TaC9aRFhOSTlyQ1NLWjE1MzNyUG5sM3dFQT0%3D"
DRIVEBUZZ_CRYPT = "MmNXMWVVTWhoSGdLaVJCTU1TaC9aRFhOSTlyQ1NLWjE1MzNyUG5sM3dFQT0%3D"
GADRIVE_CRYPT = ""
JIODRIVE_CRYPT = ""


# Sharer Cookies
Sharerpw_XSRF = "eyJpdiI6IjE2dXBkZXlrbU81QWpLa0sxVnBaQnc9PSIsInZhbHVlIjoiTUs0dU5NUlVXYURNaERkWjlRTEtlSWZuVGtEN2dYZkh3MGlpOWFYVmRwcW1TZlV2WGVBZkN0bzM1K3h1dDB0SyIsIm1hYyI6ImU5OGIyYjk3NzczM2E3NDFhMTQwYjA5ZTZmZjFkMjg5ZTE5NDE2ZTdhNmE4MGZhMDU1ZWI0M2MyZWI2Nzk0MDkifQ%3D%3D"
Sharerpw_laravel = "eyJpdiI6IjA0NGE3NU5vdnlYa3BWWEJtVDdPM3c9PSIsInZhbHVlIjoiZ3pPcE9sajVMMzU5STlqRHJWdEJiUTV3WGFyZnJPMFdvbG9tS093S0RBVlV6K0g0TkxvcTM5d2ZpMlJlTEFaTyIsIm1hYyI6Ijc1OGIzZjc1ZTEzZjJkNTRhM2Y2YjllOTdlMTRjZjM1ZDc4OTZhMjYwN2I1NzA0YzM2YzU1ZmIzMGZlMzkwNGMifQ%3D%3D"

